{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h3>Projects</h3>
    {% if projects %}
        <div class="items">
            {% for project in projects %}
                <div>
                    <h4>{{ project.title }}</h4>
                    <p>{{ project.description }}</p>
                    {% if project.image %}
                        <img src="{{ project.image.url }}" alt="{{ project.title }}" width="200">
                    {% endif %}
                    {% if project.link %}
                        <p><a href="{{ project.link }}">View Project</a></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no projects.</p>
    {% endif %}
    
    <div class="mt-3">
        <a href="{% url 'add_project' %}" class="btn btn-primary">Add Project</a>
        <a href="{% url 'profile' username=user_profile.user.username %}" class="btn btn-secondary">Return to Profile</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
    </div>
</div>
{% endblock %}
